.RegisterContent {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.RegisterContent .Centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.RegisterContent .Card {
  background-color: #F9F9F9;
  width: 100%;
  max-width: 500px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 3px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.RegisterContent .Card .CardHeader {
  width: 100%;
  max-width: 450px;
  background-color: #2274A5;
  margin: -25px auto 0;
  border-radius: 2px;
  display: block;
  color: #f9f9f9;
  padding: 15px 25px;
}

.RegisterContent .Card .CardHeader h1 {
  font-weight: 300;
}

.RegisterContent .Card .CardBody {
  margin: 15px 25px 25px;
}

.RegisterContent .Card .CardBody input {
  width: 100%;
}

.RegisterContent .Card .CardBody input + input {
  margin-top: 15px;
}

.RegisterContent .Card .CardBody input[type=submit] {
  background-color: #2274A5;
  color: #f9f9f9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 600ms;
}

.RegisterContent .Card .CardBody input[type=submit]:hover {
  border-radius: 100px;
  filter: brightness(90%);
}