.Popover {
  position: fixed;
  background-color: brown;
  width: 100%;
  max-width: 350px;
  min-height: 75px;
  border-radius: 4px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  padding: 7px 16px;
  display: flex;
  color: #f9f9f9;
  overflow: hidden;
}

.Popover.Hide {
  animation: goOut 200ms ease-in-out;
}

.Popover .Timer {
  width: 100%;
  display: block;
  height: 4px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.Popover .Timer span {
  background: #f9f9f9;
  display: block;
  height: 4px;
}

@keyframes goOut {
  to {
    transform: translateX(200px);
    opacity: 0;
  }
}

.Popover .Ico {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.Popover .Body {
  flex: 1;
}

.Popover .Body h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
}

.Popover .Body p {
  margin: 0;
  line-height: 16px;
  font-size: 14px;
}

.Popover .Body .ButtonClose {
  background: transparent !important;
  color: #f9f9f9 !important;
}

.Popover.PopoverTopRight {
  top: 110px;
  right: 15px;
  animation: fadeRight 300ms ease-in-out;
}

.Popover.Danger {
  background: #a52222;
}

.Popover.Warning {
  background: #d7b727;
}

.Popover.Success {
  background: #3ca522;
}

.Popover .Body .GoOut {
  position: absolute;
  right: 5px;
  top: 5px;

  cursor: pointer;
  align-self: flex-start;
}

@media (max-width: 600px) {
  .Popover {
    top: 16px !important;
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(90px);
  }

  80% {
    transform: translateX(-10px);
  }
}
